:root {
    --bgc-primary: #ffffff;
    --bgc-secondary: #2f303a;
    --bgc-tertiary: #f5f4fa;
    --bgc-accent: #2196f3;
    --text-colour-primary: #212121;
    --text-colour-secondary: #757575;
    --text-colour-tertiary: #ffffff;
    --text-colour-accent: #2196f3;
    --text-colour-logo: #000000;
 }

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;

    background-color: var(--bgc-primary);
    color: var(--text-colour-primary);
}

img {
    display: block;
    
    max-width: 100%;
    height: auto;   
} 

/* header styles */

.logotype {
    font-family: 'Raleway', serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    text-decoration: none;

    color: var(--text-colour-logo);
}

.logo-first-piece {
    font-family: 'Raleway', serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color: var(--bgc-accent);
}

.current-page {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    text-decoration: none;

    color: var(--text-colour-accent);
}
.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: inherit;
}

/* Webstudio styles */

/* hero styles */

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--text-colour-tertiary);

    padding: 200px 452px;
}

.button-hero {
    width: 216px;
    height: 50px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;

    background-color: var(--bgc-accent);
    color: var(--text-colour-tertiary);

    cursor: pointer;
}

.button-hero:hover {
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;

    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* Features styles */

.features .subtitle {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-description {
    font-size: 14px;
    line-height: 1.71;

    color: var(--text-colour-secondary);
}

/* Activity styles */

.activity > .title, 
.team > .title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Team styles */

.team {
    background-color: var(--bgc-tertiary);
}

.team-member {
    background-color: var(--bgc-primary);
}

.team .subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-description {
    font-size: 16px;
    line-height: 1.19;
    text-transform: capitalize;

    color: var(--text-colour-secondary);
}

/* Footer styles */

.logo-second-piece {
    font-family: 'Raleway', serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color: var(--text-colour-tertiary);
}

.address {
    font-style: normal;
}

.map {
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;

    color: var(--text-colour-tertiary);
}

.contacts {
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.6);
}

/* Portfolio styles */
/* Projects styles */

.button-filter {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    color: inherit;
    background-color: var(--bgc-tertiary);

    cursor: pointer;
}

.button-filter:hover,
.button-filter:focus {
    color: var(--text-colour-tertiary);
    background-color: var(--bgc-accent);
}

.project-link {
    text-decoration: none;

    color: inherit;
}

.projects-list .subtitle {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-transform: capitalize;
}

.projects-list .description {
    font-size: 16px;
    line-height: 1.87;

    color: var(--text-colour-secondary);
}

/* Miscellanea */

.visually-hidden {
    position: absolute;    
    white-space: nowrap;    
    width: 1px;   
    height: 1px;
    
    overflow: hidden;   
    border: 0;   
    padding: 0;    
    clip: rect(0 0 0 0);    
    clip-path: inset(50%);    
    margin: -1px;
}

.link:hover,
.link:focus,
.map:hover,
.map:focus,
.contacts:hover,
.contacts:focus {
    color: var(--text-colour-accent);
} 

.hero,
.cellar {
    background-color: var(--bgc-secondary);
}

.list {
    list-style: none;
}